body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#box1 {
    width: 400px;
    background-color: crimson;
    color: white;
    font-size: 25px;
    border-radius: 5px;
    text-align: center;
}