 /* Styles for progress bar */
 *{
    margin: 0;
    padding: 0;

 }

 .content{
    margin: 2rem;
    height: 200rem;
 }
 .progress-container {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    /* background-color: #f0f0f0; */
  }

  .progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
    background-color: #3498db;
    width: 0;
  }